<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Welcome to InstaLite</h1>
    <% for(post of posts){ %>
        <div class="posts">
            <h3>
                @<%= post.username %>
                    <br>
                    <%= post.content %>
            </h3>
            <a href="http://localhost:8080/posts/<%=post.id%>"><button>view</button></a>
            <br><br>
            <a href="http://localhost:8080/posts/<%=post.id%>/edit"><button>edit</button></a>
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                <a href="http://localhost:8080/posts/<>"><button>delete</button></a>
            </form>

        </div>
        <% } %>
            <br>
            <a href="http://localhost:8080/posts/new"><button>create new</button></a>
</body>

</html>